<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.png') }}" type="image/x-icon">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Our Gross</title>
  </head>
  <body>
    
    <!--SIDEBAR-->
    <section id="sidebar">
      <a href="#" class="brand"><i class='bx bx-cart icon'></i> OurGross</a>
      <ul class="side-menu">
        <li><a href="#" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard </a></li>
        <li class="divider">Manage Product</li>
        <li>
          <a href="#"><i class='bx bxl-product-hunt icon'></i> Products <i class='bx bx-chevron-right icon-right' ></i></a>
          <ul class="side-dropdown">
            <li>
              <a href="#">Product List</a>
              <a href="#">Add Product</a>
              <a href="#">Category List</a>
              <a href="#">Add Category</a>
            </li>
          </ul>
        </li>
        <li class="divider">Manage Purchase</li>
        <li>
          <a href="#"><i class='bx bx-wallet icon'></i> Purchase <i class='bx bx-chevron-right icon-right' ></i></a>
          <ul class="side-dropdown">
            <li>
              <a href="#">Purchase List</a>
              <a href="#">Add Purchase</a>
            </li>
          </ul>
        </li>
        <li><a href="#"><i class='bx bx-transfer icon'></i> Purchase Return </a></li>
        <li class="divider">Manage Stcok</li>
        <li><a href="#"><i class='bx bxs-truck icon'></i> Stock Transactions </a></li>
        <li><a href="#"><i class='bx bxs-package icon'></i> Stock Adjusment </a></li>
        <li class="divider">Manage Worker</li>
        <li>
          <a href="#"><i class='bx bx-group icon'></i> Workers <i class='bx bx-chevron-right icon-right' ></i></a>
          <ul class="side-dropdown">
            <li>
              <a href="#">Worker List</a>
              <a href="#">Add Worker</a>
            </li>
          </ul>
        </li>
        <li class="divider">Manage Settings</li>
        <li>
          <a href="#"><i class='bx bx-cog icon'></i> Settings <i class='bx bx-chevron-right icon-right' ></i></a>
          <ul class="side-dropdown">
            <li>
              <a href="#">Company Details</a>
              <a href="#">Generel Setting</a>
            </li>
          </ul>
        </li>
      </ul>
      
    </section>
    <!--SIDEBAR-->

    <!--NAVBAR-->
    <section id="content">
      <nav>
        <i class='bx bx-menu toogle-sidebar' ></i>
        <div class="date" id="date-time"></div>
        <span class = "divider"></span>
        <div class="profile">
          <img src="{{ asset('assets/img/person.jpg') }}" alt="">
          <ul class="profile-link">
            <li><a href="#"><i class='bx bx-log-out-circle icon' ></i>Logout</a></li>
          </ul>
        </div>
      </nav>
      <!--NAVBAR-->

      <!--MAIN-->
      <main>

        {% block content %}{% endblock %}
        
      </main>
      <!--MAIN-->

    </section>


    <!--=============== JSS ===============-->
    <script src="{{ asset('assets/js/main.js') }}"></script>
  </body>
</html>