<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar-header">
        <h3 class="brand">
          <span>
            <i class="ri-shopping-cart-line"></i>
          </span>
          <span>OurGross</span>
        </h3>
        <span>
          <i class="ri-menu-line"></i>
        </span>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="">
              <span>
                <i class="ri-home-line"></i>
              </span>
              <span>Ana Sayfa</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>
                <i class="ri-product-hunt-line"></i>
              </span>
              <span>Products</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>
                <i class="ri-bank-card-line"></i>
              </span>
              <span>Purchase</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>
                <i class="ri-archive-line"></i>
              </span>
              <span>Stock</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>
                <i class="ri-team-line"></i>
              </span>
              <span>Workers</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>
                <i class="ri-settings-2-line"></i>
              </span>
              <span>Settıngs</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <header>
        <div class="social-icons">
          <div>
            <span>
              <i class="ri-user-fill"></i>
            </span>
          </div>
        </div>
      </header>

      <main>
        <h2 class= "dash-title">Genel Bakış</h2>

        <div class="dash-cards">
          <div class="card-single">
            <div class="card-body">
              <span>
                <i class="ri-group-line"></i>
              </span>
              <div>
                <h5>Toplam Çalışan</h5>
                <h4>15</h4>
              </div>
            </div>
          </div>

          <div class="card-single">
            <div class="card-body">
              <span>
                <i class="ri-barcode-box-line"></i>
              </span>
              <div>
                <h5>Toplam Ürün</h5>
                <h4>850</h4>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>