{% extends "base/index.html.twig" %}


{% block content %}
    <h1 class="title">Add Category</h1>
    <hr/>

    

    <!-- =======  Category Add Form Start  ========================== -->
    <div class="container add-product-form">
        <div class="row">
            <div class="col-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="inputCategoryName" class="add-form-label">Category Name</label>
                        <input type="text" class="form-control" id="inputCategoryName" placeholder="Enter Category Name">
                    </div>
                    <div class="col-md-4">
                        <label for="inputProductCategory" class="add-form-label">Parent Category Name</label>
                        <select id="inputProductCategory" class="form-select" required>
                        <option value="" disabled selected hidden>Select Product Category</option>
                        <option>No main categories</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputCategoryStatus" class="add-form-label">Product Status</label>
                        <div class="radio-buttons-container">
                            <div class="radio-button">
                            <input name="radio-group" id="radio2" class="radio-button__input" type="radio" value="active" checked>
                            <label for="radio2" class="radio-button__label">
                                <span class="radio-button__custom"></span>Active
                            </label>
                            </div>
                            <div class="radio-button">
                            <input name="radio-group" id="radio1" class="radio-button__input" type="radio" value="passive">
                            <label for="radio1" class="radio-button__label">
                                <span class="radio-button__custom"></span>Passive
                            </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="inputCategoryDescription" class="add-form-label">Category Description</label>
                        <textarea class="form-control" id="inputCategoryDescription" rows="3" placeholder="Enter Category Description"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class= "container mt-3">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="cancelButton btn">Cancel</button>
            <button type="submit" class="saveButton btn  ms-3">Save</button>
        </div>
    </div>
    
    <!-- =======  Product Add Form End  ===================== -->
    

{% endblock %}