{% extends "base/index.html.twig" %}


{% block content %}
    <h1 class="title">All Products</h1>
    <hr/>

    <button class="add-product-button">
        Add Product<i class='bx bx-plus-medical'></i>
    </button>

    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container-fluid product-table">
        <div class="row">
            <div class="col-12">
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011-04-25</td>
                                <td>$320,800</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011-07-25</td>
                                <td>$170,750</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009-01-12</td>
                                <td>$86,000</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2012-03-29</td>
                                <td>$433,060</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    

{% endblock %}