{% extends "base/index.html.twig" %}


{% block content %}
    <h1 class="title">All Products</h1>
    <hr/>

    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container-fluid product-table">
        <div class="row">
            <div class="col-12">
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Purchase Return Date</th>
                                <th>Supplier </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>
                                    <div class="actions">
                                        <button class="actionbutton">
                                            <span class="actionText">Edit</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-edit'></i>
                                            </span>
                                        </button>
                                        <button class="actionbutton">
                                            <span class="actionText">Trash</span>
                                            <span class="actionIcon">
                                                <i class='bx bx-trash'></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    

{% endblock %}